{{define "content"}}
<div class="row">
    <div class="col-lg-12">
        <h3>Why I use this?</h3>
        <hr/>
        <ul class="list-group">
            <li class="list-group-item">Well organized code and clean code</li>
            <li class="list-group-item">MVC styled</li>
            <li class="list-group-item">Can be used for both API and website</li>
            <li class="list-group-item">Help you to get started quickly</li>
        </ul>
    </div>
    <div class="col-lg-12">
        <h3>Features</h3>
        <hr/>
        <ul class="list-group">
            <li class="list-group-item">Fast and Crash free</li>
            <li class="list-group-item">Middleware support</li>
            <li class="list-group-item">Route grouping</li>
            <li class="list-group-item">Error management</li>
            <li class="list-group-item">It merged all features from gin as it is working on top of <a href="https://gin-gonic.github.io/gin/">gin-gonic</a> framework</li>
            <li class="list-group-item">Dependency management using <a href="https://github.com/kardianos/govendor">govendor</a></li>
            <li class="list-group-item">Nice and elegant <a href="https://github.com/jinzhu/gorm">gorm</a> ORM supporting <em>mysql, postgres, mssql, sqlite</em> and database migration</li>
            <li class="list-group-item">Managing environment file using nice package <a href="https://github.com/joho/godotenv">godotenv</a></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>
{{end}}